body
{
	background-color: #DDDDDD;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 23px;
}

.text
{
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px #808080;
	margin: auto;
	padding: 40px 30px;
	max-width: 840px;
	min-height: 100vh;
}

.text img
{
	display: block;
	margin: auto;
}

.text a:link{color: blue; text-decoration: none;}

.text h1 {font-size: 50px;}
.text h2 {font-size: 30px;}
.text h3 {font-size: 18px;}
.text h4 {font-size: 14px;}

.center
{
	text-align: center
}

/*Youtube video display settings*/
.center iframe
{
	width: 400px;
	height: 300px;
	border: none;
}

.navbar-core
{
	background-color: #000000;
	box-shadow: 0 1px 4px #808080;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
}

.navbar-core a
{
	text-decoration: none;
}

.navbar-core img
{
	vertical-align: middle;
}

.navbar-item
{
	display: inline-block;
	vertical-align: middle;
}

.navbar-item .navbar-subitems
{
	display: none;
	position: absolute;
	width: auto;
	color: #00FFFF;
	background-color: #000000;
}

.navbar-item:hover .navbar-subitems 
{
	display: block;
}

.navbar-item a
{
	display: block;
	color: #00FFFF;
	text-decoration: none;
	padding: 0 16px;
	line-height: 40px;
}

.navbar-item a:hover
{
	color: #000000;
	background-color: #00FFFF;
}

.navbar-item a.active
{
	color: #000000;
	background-color: #FF00FF;
}

.toggle-box
{
	display: none;
}

.toggle-box + label
{
	display: block;
	cursor: pointer;
}

.toggle-box + label + div
{
	display: none;
}

.toggle-box:checked + label + div
{
	display: block;
}

.toggle-box + label:hover
{
	color: #CCCCCC;
}

.toggle-box + label:before
{
	background-color: #FFFFFF;
	color: #000000;
	content: "\25B6";
	display: block;
	float: left;
	text-align: center;
	width: 30px;
}

.toggle-box:checked + label:before
{
	content: "\25BC";
}