body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 23px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

#navbar ul {
    background-color: #000000;
	list-style-type: none;
	width: 100%;
	/*height: 32px;*/
	margin: 0;
	padding: 0;
    position: fixed;
	box-shadow: 0 1px 4px #808080;	
}

#navbar ul li {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
}

#navbar ul #image {
	display: inline-block;
	line-height: 0;
}

#navbar ul #image a{
	display: block;
	padding: 0;
}

#navbar ul li a {
    /*color: #B2EBF2;*/
    color: #00FFFF;
	display: block;
	padding: 0 16px;
	text-decoration: none;
}

#navbar ul li a:hover {
	color: #000000;
    /*background-color: #B2EBF2;*/
    background-color: #00FFFF;
}

#navbar ul li a.active {
	color: #000000;
	/*background-color: #E1BEE7;*/
	background-color: #FF00FF;
}

#navbar ul li:hover ul {
	display: block;
}

#navbar ul ul {
	display: none;
	position: absolute;
	width: auto;
    /*background-color: #B2EBF2;*/
    background-color: #00FFFF;
}

#navbar ul ul li {
	display: block;
}

#navbar ul ul li a {
    /*color: #B2EBF2;*/
    color: #00FFFF;
	background-color: #000000;
}

#navbar ul ul li a:hover {
	color: #000000;
	/*background-color: #B2EBF2;*/
    background-color: #00FFFF;
}

#text {
	margin: auto;
	padding: 40px 10px;
	width: 50%;
	height: auto;
	background-color: #FFFFFF;
}

#text img {
	display: block;
	margin: auto;
}